<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"><nav class="navbar navbar-expand-lg navbar-dark bg-dark">      
        <a class="navbar-brand" [routerLink]="['']"><i class="material-icons planeicon">
            flight_takeoff
            </i>GoAir</a>
    
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" routerLink='/aboutus'>About us </a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" routerLink='/home'>Home</a>
                    </li>
                  <li class="nav-item active">
                      <a class="nav-link" routerLink='/contactus'>Contact Us </a>
                    </li>
    
               
             </ul>
            </div>
      </nav>
<div class="row">
 
    <div class="card  mt-4">
            <img class="img-style" src="assets\images\brian.jfif" alt="John" style="width:100%">
            <h1>Brian Humphries</h1>
            <p class="title">CEO & Founder, GoAir</p>
            <p>Harvard University</p>
            <div style="margin: 24px 0;">
                    <a class="a1" href="#"><i class="material-icons">email</i></a> 
                    <a class="a1" href="#"><i class="material-icons">phone</i></a>  
            </div>
            <p class="button1">Contact</p>

    </div>
<!-- </div>
<div class="row col-3">  -->
    <div class="card mt-4">
            <img class="img-style" src="assets\images\mahar.jpg" alt="John" style="width:100%">
            <h2>Maharshi Ravella</h2>
            <p class="title">Team Lead, GoAir</p>
            <p>Anits University, Vizag</p>
            <div style="margin: 24px 0;">
                    <a class="a1" href="mailto:808315@cognizant.com"><i class="material-icons">email</i></a> 
                    <a class="a1" href="tel:+91-7075808707"><i class="material-icons">phone</i></a>  
            </div>
            <p class="button1">Contact</p>
    </div>
    
    <div class="card  mt-4">
            <img  class="img-style"src=" assets\images\gayu.jpg" style="width:100%">
            <h1>M S Gayathri</h1>
            <p class="title">Team Member, GoAir</p>
            <p>KTU University, Kerala</p>
            <div style="margin: 24px 0;">
                    <a class="a1" href="mailto:807905@cognizant.com"><i class="material-icons">email</i></a> 
                    <a class="a1" href="tel:+91-7012221823"><i class="material-icons">phone</i></a>  
            </div>
            <p class="button1">Contact</p>
    </div>
    <div class="card  mt-4">
            <img class="img-style" src="assets\images\malli.jpg" style="width:100%">
            <h1>Mallika Komma</h1>
            <p class="title">Team Member, GoAir</p>
            <p>JNTUK University, Ongole</p>
            <div style="margin: 24px 0;">
                    <a class="a1" href="mailto:808183@cognizant.com"><i class="material-icons">email</i></a> 
                    <a class="a1" href="tel:+91-8790037854"><i class="material-icons">phone</i></a>  
            </div>
            <p class="button1">Contact</p>
    </div>
    <div class="card  mt-4">
            <img class="img-style" src="assets\images\joel.jpg" style="width:100%">
            <h1>Joel Thomas</h1>
            <p class="title">Team Member, GoAir</p>
            <p>MG University, Kerala</p>
            <div style="margin: 24px 0;">
                <a class="a1" href="mailto:807894@cognizant.com"><i class="material-icons">email</i></a> 
                <a class="a1" href="tel:+91-9886510162"><i class="material-icons">phone</i></a>  
            </div>
            <p class="button1">Contact</p>
    </div>
</div>
