<nav class="navbar navbar-expand-lg navbar-dark bg-dark">      
        <a class="navbar-brand" [routerLink]="['']"><i class="material-icons planeicon">
            flight_takeoff
            </i>GoAir</a>
</nav>

<div class="row">
    <div class="col-4">
        <img class="img-style" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7pNi9T7aw10AcNFTLO6S_61rXF7JW80bKMxUeVoTkWWqZdnXgBw&s">
    </div>

<div class="col-8">
    <h1 class="success-style">
        Succesfully Registered
    </h1>
    <h5 class="request-style">Kindly, wait for Admin approval <a routerLink=''>Click here</a> to go home page</h5>
</div>
</div>
<app-footer></app-footer>